<configuration>
  <log4net update="Merge">
    <loggerFactory type="log4net.Util.Stamps.StampingLoggerFactory, log4net.Ext.Json">
    </loggerFactory>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="StructuredTestAppender"/>
    </root>
    <logger name="BenchMark">     
    </logger>
    <logger name="BenchMark.Flat">
      <appender-ref ref="FlatTestAppender"/>
    </logger>
    <logger name="log4net">
    </logger>
    <logger name="log4net.Appender.KeepAliveAppender">
      <appender-ref ref="KeepAliveAppender"/>
    </logger>
    <appender name="KeepAliveAppender" type="log4net.Appender.KeepAliveAppender, log4net.Ext.Json" additivity="false">
      <keepaliveinterval value="50000" />
      <appender-ref ref="StructuredTestAppender"/>
    </appender>
    <appender name="StructuredTestAppender" type="log4net.Json.Test.UI.Appender.TestAppender">
      <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
        <serializingConverter type="log4net.Layout.Pattern.JsonPatternConverter, log4net.Ext.Json">
          <fetcher type="log4net.Layout.RawArrangedLayout, log4net.Ext.Json">
          </fetcher>
        </serializingConverter>
      </layout>
    </appender>
    <appender name="FlatTestAppender" type="log4net.Json.Test.UI.Appender.TestAppender">
      <layout type="log4net.Layout.SerializedLayout, log4net.Ext.Json">
      </layout>
      <threshold>DEBUG</threshold>
    </appender>
  </log4net>
</configuration>